#Files to ignore:
nodemon.json
uploads/*
/public/images/*
/public/.well-known/*
/public/.well-known/.pki-validation/*

#Exception to the rule
!uploads/.gitkeep
!public/images/favicon.ico
!public/.well-known/.pki-validation
!public/.well-known/.pki-validation/.gitkeep

#Directories to ignore
/node_modules/


