/*
CSS style sheet for Beaglebone Black Server
*/


/*
Styles for standard HTML elements
*/
body {
    background-color: #000000;
    background: url("/images/background.jpg") ;
    background-size: cover;
    background-position: center top;
    font-family: Helvetica;
}

h1 {
    color: dodgerblue;
    font-size: 2.5em;
}
h2 {
    color: goldenrod;
    font-size: 2.0em;
}
h3 {
    color: #0080ff; /* slightly darker than dodgerblue */
    font-size: 1.75em;

}
h4 {
    color: cornflowerblue;
    font-size: 1.5em;
} 
h5 {
    color: firebrick;
    font-size: 1.3em;
} 
h6 {
    color: goldenrod;
    font-size: 1.2em;
}

p {
    text-align: center;
    color: white;
    font-size: 1.1em;
    padding: 0rem 2rem;
} 

.generalLists li {
    text-align: left;
    margin: 0 0 0 20%; /* could use a @media query to adjust */
    list-style-position: inside; /* aligns bullets next to text */
    color: white;
    font-size: 1.0em;
}

.caption {
    margin: 0px 30px 50px 30px;
    padding: 0;
    color: white;
    font-size: 0.8em;
}


/*
Styles for objects and 
*/
button {
    font-size: 1.0em;
    text-align: center;
    font-family: verdana;
}
button:hover {
    background-color: silver; 
}
.status a {
    font-size: 1.0em;
    font-weight: bold;
    color: white;
}

/***************************************************************************************************************************************
Page Layout
***************************************************************************************************************************************/

/*
Classes for general layout usage
*/
.mainPanels {
    margin: 2.5% auto 2.5% auto;
    width: 80%;
}

.layout {
    background-color: #333333;
    border: 0.5em outset cornflowerblue;
    text-align: center;
    

    border-radius: 20px 80px;
}



/*
Classes for header panel
No layout class added
*/


#header {
    margin: 1.5em auto 1.5em auto;
    height: 150px;
    text-align: center;
    padding: 1.0em;
}



.moved {
    position: absolute;
    text-align: left;
    height: 50px;
    top: 0%;
    right: 0%;
}

/*
Classes for header panel
No layout class added
*/

.layout.loginPanel {
    position: absolute;
    top: 20px;
    right: 20px;
    
    padding: 0 1.5em 0 1.5em;
}
.layout.loginPanel p {
    font-size: 0.9em;
}

.layout.loginPanel a {
    color: white;
    text-decoration: none;
}

.layout.loginPanel a:hover {
    color: goldenrod;
    text-decoration: underline;
    
}


/*
Classes for navigation panel
*/
.layout.navBar {
    position: sticky;
    top: 0%;
    right: 0%;
    
    list-style-type: none;

    margin: 2% auto 2% auto;
    padding: 0;
    
    overflow: hidden;
    width: 60%;
    height: auto;

    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    
    border-top-left-radius: 10em ;
    border-top-right-radius: 10em ;
    border-bottom-right-radius: 100em ;
    border-bottom-left-radius: 100em ;

    clear: both;
}
.layout.navBar li {
    display: inline;
}
.layout.navBar .active {
    background-color: #FFFFFF;
    color: #000000 !important;
    }
.layout.navBar li a {

    color: white;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: 1.0em;
    margin: 0;
}
.layout.navBar li a:hover {
    background-color: green;
    color: black;
}

/*
Classes for the footer panel
*/

.layout.footer {
    margin: 5% auto 5% auto;
    
    padding: 0;
    overflow: visible;

    width: 60%;
    text-align: center;
    
    line-height: 2.0em;
    clear: both;


}
.layout.footer a {
    color: dodgerblue;
    text-decoration: none;
}

.layout.footer a:hover {
    color: white;
    text-decoration: underline;
}

