/* 
CSS Grid Setup
*/
.sidebar { grid-area: sidebar; }
.content { grid-area: content; }
.logo { grid-area: logo; }
.header { grid-area: header; }
.footer { grid-area: footer; }
.leftPadding { grid-area: leftPadding; }
.rightPadding { grid-area: rightPadding; }
.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "logo"
    "header"
    "sidebar"
    "content"
    "footer"
    "leftPadding"
    "rightPadding"
}


/* 
General Stylings
*/
body {
    margin: 20px;
    background: url("/images/background.jpg") ;
    background-size: cover;
    background-position: center top;
    font-family: Helvetica;
}
.layout {
    text-align: center;
    background-color: #333333;
    border: 0.5em outset cornflowerblue;
    border-radius: 20px 80px;
    padding: 20px;
    color: #fff;
}

h1 {
    color: dodgerblue;
    font-size: 2.5em;
}
h2 {
    color: goldenrod;
    font-size: 2.0em;
}
h3 {
    color: #0080ff; /* slightly darker than dodgerblue */
    font-size: 1.75em;

}
h4 {
    color: cornflowerblue;
    font-size: 1.5em;
} 
h5 {
    color: firebrick;
    font-size: 1.2em;
} 
h6 {
    color: goldenrod;
    font-size: 1.2em;
}

p {
    text-align: center;
    color: white;
    font-size: 1.0em;
    padding: 0rem 2rem;
} 
/* 
Logo
*/
.logo {
    text-align: center;
}
#logo {
    height: auto;
    max-width: 100%;
}

/*
Navigation Panel
*/
.mobileNavBar {
    display: block;
    font-weight: semi-bold;
    width: max-content;
    padding: 10px;
    margin: auto;
    overflow: hidden;
}
.navBar, .sideNavBar  {
    font-weight: semi-bold;
    padding: 0;
    overflow: hidden;
    display: none;
}
.navBar .active, .sideNavBar .active {
    background-color: #FFFFFF;
    color: #000000;
}
.navBar a, .sideNavBar a, .mobileNavBar a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 15px 10px 15px; 
    margin: 0;
}
.navBar a, .sideNavBar a {
    display: none;
}
.navBar a:hover, .sideNavBar a:hover {
    background-color: green;
    color: black;
}

/*
Content
*/
.generalLists li {
    text-align: left;
    margin: 0 0 0 20%; /* could use a @media query to adjust */
    list-style-position: inside; /* aligns bullets next to text */
    color: white;
    font-size: 1.0em;
}

.caption {
    margin: 0px 30px 50px 30px;
    padding: 0;
    color: white;
    font-size: 0.8em;
}


/*
Footer
*/
.footer {
    margin: 0 auto 0 auto;
    padding: 0 5% 0 5%;
    overflow: hidden;
    width: auto;
    line-height: 2.0em;
}
.footer a {
    color: dodgerblue;
    text-decoration: none;
}
.footer a:hover {
    color: white;
    text-decoration: underline;
}

/*
Login and Sign Form
*/
.backgroundCover {
    display: none;
    background-color: #555555;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index: 8;

}
.loginPopUp {
    display: none;
    position: fixed;
    vertical-align: middle;
    left: 50%;
    margin-left: -150px;
    top: 10%;
    opacity: 1;
    z-index: 9;
}
.loginContainer {
    max-width: 300px;
    padding: 10px;
}
.loginContainer input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
}
.loginContainer .submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border-radius: 15px;
    width: 60%;
    margin-bottom:10px;
    cursor: pointer;
}
.loginContainer .cancelButton {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border-radius: 15px;
    width: 60%;
    margin-bottom:10px;
    cursor: pointer;
}
.loginContainer .submitButton:hover, .cancelButton:hover {
    opacity: 0.5;
}
.loginPopUp input[type=text], .form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}


/*
Media Queries
*/
@media only screen and (min-width: 900px)  {
    .layout.mobileNavBar, .sideMenu {
        display: none;
    }
    .navBar {
        width: max-content;
        margin: auto;
        padding: 0 50px 0 50px;
        display: block !important; 
    }
    .navBar a {
        display: inline-block !important;
        padding: 10px 8px 10px 8px;
    }
    .sideNavBar a{
        display: block !important;
    }
    .sideNavBar {
        display: block !important;
        padding: 20px 0 20px 0;
        width: auto
    }
    .footer {
        width: 60%
    }
    .wrapper {
        grid-template-columns: 0 200px auto 0;
        grid-template-areas:
        "leftPadding    logo        logo        rightPadding"
        "leftPadding    header      header      rightPadding"
        "leftPadding    sidebar     content     rightPadding"
        "leftPadding    footer      footer      rightPadding";
    }
}

@media only screen and (min-width: 1100px)  {
    .wrapper {
        grid-template-columns: auto 200px 800px auto;
        grid-template-areas:
        "leftPadding    logo        logo        rightPadding"
        "leftPadding    header      header      rightPadding"
        "leftPadding    sidebar     content     rightPadding"
        "leftPadding    footer      footer      rightPadding";
    }
}